<div style="height: 100%; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; gap: 0.5rem; font-size: 2rem; padding: 20px;">
    <div id="admin-form" style="position: sticky; display:flex; flex-direction:column; justify-content:flex-end; align-items:flex-start; gap:0.5rem; margin-left: 20px;">
        <h1 style="font-size: 3rem; padding: 2px;">Profil</h1>
        <label style="font-size: 2rem; padding: 2px;  ">Korisnicko ime: <input type="text" id="admin-username" style="font-size: 1.5rem; padding: 2px" disabled /></label>
        <label style="font-size: 2rem; padding: 2px;  ">Sifra: <input type="password" id="admin-password" style="font-size: 1.5rem; padding: 2px" required /></label>
        <label style="font-size: 2rem; padding: 2px;  ">Ime: <input type="text" id="admin-name" style="font-size: 1.5rem; padding: 2px" required /></label>
        <label style="font-size: 2rem; padding: 2px;  ">Prezime: <input type="text" id="admin-lastname" style="font-size: 1.5rem; padding: 2px" required /></label>
        <label style="font-size: 2rem; padding: 2px;  ">
            Pol:
            <select style="font-size: 1.5rem; padding: 2px" id="admin-gender" required>
                <option value="MUSKI">Muski</option>
                <option value="ZENSKI">Zenski</option>
            </select>
        </label>
        <label style="font-size: 2rem; padding: 2px;  ">Email: <input type="email" id="admin-email" style="font-size: 1.5rem; padding: 2px" required /></label>
        <label style="font-size: 2rem; padding: 2px;  ">Kada ste rodjeni: <input type="date" id="admin-date" style="font-size: 1.5rem; padding: 2px" required /></label>
        <button type="submit" id="save_button" style="font-size: 1.5rem; padding: 4px; width:15rem;">Save</button>
        <button id="logout_button" style="font-size: 1.5rem; padding: 4px; width:15rem;">Logout</button>
    </div>
    <div style="display:flex; flex-direction: column; width: 100%; justify-content:center; align-items: center; padding: 3px; gap: 100px;">
        <button id="korisnici-button" style="font-size:2rem;padding:10px;width:25%;background-color: green; color:snow; cursor: pointer;">Korisnici</button>
        <button id="proizvodi-button" style="font-size: 2rem; padding: 10px; width: 25%; background-color: blue; color: snow; cursor: pointer; ">Proizvodi</button>
        <button id="porudzbine-button" style="font-size: 2rem; padding: 10px; width: 25%; background-color: purple; color: snow; cursor: pointer; ">Porudzbine</button>
        <button id="recenzije-button" style="font-size: 2rem; padding: 10px; width: 25%; background-color: sienna; color: snow; cursor: pointer; ">Recenzije</button>
    </div>
</div>
<script>
    $(window).on("load", async function () {
        let podaci = JSON.parse(window.sessionStorage.getItem("userData"));
        if (!podaci || podaci.Uloga != 2) {
            document.location.href = "/Home";
        }
        document.getElementById("admin-username").value = podaci.Korisnicko_ime;
        document.getElementById("admin-password").value = podaci.Lozinka;
        document.getElementById("admin-name").value = podaci.Ime;
        document.getElementById("admin-lastname").value = podaci.Prezime;
        document.getElementById("admin-gender").value = podaci.Pol == 0 ? "MUSKI" : "ZENSKI";
        document.getElementById("admin-email").value = podaci.Email;
        document.getElementById("admin-date").value = podaci.Rodjendan.slice(0, 10);

    })
    $("#korisnici-button").click(function () {
        location.href = "/Admin/Korisnici";
    });
    $("#proizvodi-button").click(function () {
        location.href = "/Admin/Proizvodi";
    });
    $("#porudzbine-button").click(function () {
        location.href = "/Admin/Porudzbine";
    });
    $("#recenzije-button").click(function () {
        location.href = "/Admin/Recenzije";
    });
    $("#save_button").on('click', async function (e) {

        let data = JSON.parse(window.sessionStorage.getItem("userData"));
        const username = document.getElementById("admin-username").value;
        const name = document.getElementById("admin-name").value;
        const password = document.getElementById("admin-password").value;
        const lastname = document.getElementById("admin-lastname").value;
        const gender = document.getElementById("admin-gender").value;;
        const email = document.getElementById("admin-email").value;
        const date = document.getElementById("admin-date").value;
        const role = data.Uloga;
        const Korisnik = {
            Korisnicko_ime: username,
            Lozinka: password,
            Ime: name,
            Prezime: lastname,
            Pol: gender,
            Email: email,
            Rodjendan: date,
            Uloga: role,
        };
        try {
            await $.ajax({
                type: "PUT",
                url: "/api/BazaKorisnika",
                data: JSON.stringify(Korisnik),
                contentType: "application/json"

            })
            window.sessionStorage.setItem("userData", JSON.stringify(Korisnik));
            location.reload();
        } catch (error) {
            console.log(error);
        }

    });
    $("#logout_button").click(function () {
        sessionStorage.setItem("userData", null);
        sessionStorage.setItem("logedIn", -1);
        sessionStorage.setItem("logIn", false);
        $("#profile").empty();
        location.href = "/LogIn";
    })
</script>

