<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Site.css"/>
    <title>Web Prodavnica</title>
    
</head>
<body>
    <script src="~/Scripts/jquery/jquery.js">
    </script>
    <div class="navbar">
        <div class="logo-div"><a id="logo" href="/">Logo/Home</a></div>
        <div id="profile"></div>
    </div>
    <hr class="navbar-divider" />
    @RenderBody()
    <script>
        let logedIn;
        $(function () {
            logedIn = sessionStorage.getItem("logedIn");
            if (logedIn) {
                if (logedIn == 0) {
                    $("#profile").prepend("K")
                } else if (logedIn == 1) {
                    $("#profile").prepend("P")
                } else if (logedIn == 2) {
                    $("#profile").prepend("A")
                }
            }
        });
        $("#profile").on("click", function () {
            if (logedIn == 0)
            {
                window.location.href = "/Kupac";
            }
            else if (logedIn == 1)
            {
                window.location.href = "/Prodavac";
            }
            else if (logedIn == 2) {
                window.location.href = "/Admin";
            }
            else
            {
                document.location.href = "/LogIn";
            }
        });
    </script>
</body>
</html>