<div style="height: calc(100vh - 7.4rem); display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 0.5rem; font-size: 2rem;">
    <h1 style="font-size: 2rem; padding: 2px">SignUp</h1>
    <form id="signup-form" style="display:flex; flex-direction:column; justify-content:flex-end; align-items:center; gap:0.5rem;">
        <label style="font-size: 2rem; padding: 2px;  ">Korisnicko ime: <input type="text" id="username" style="font-size: 1.5rem; padding: 2px" required /></label>
        <label style="font-size: 2rem; padding: 2px;  ">Sifra: <input type="password" id="password" style="font-size: 1.5rem; padding: 2px" required /></label>
        <label style="font-size: 2rem; padding: 2px;  ">Ime: <input type="text" id="name" style="font-size: 1.5rem; padding: 2px" required /></label>
        <label style="font-size: 2rem; padding: 2px;  ">Prezime: <input type="text" id="lastname" style="font-size: 1.5rem; padding: 2px" required /></label>
        <label style="font-size: 2rem; padding: 2px;  ">
            Pol:
            <select style="font-size: 1.5rem; padding: 2px" id="gender" required>
                <option value="MUSKI">Muski</option>
                <option value="ZENSKI">Zenski</option>
            </select>
        </label>
        <label style="font-size: 2rem; padding: 2px;  ">Email: <input type="email" id="email" style="font-size: 1.5rem; padding: 2px" required /></label>
        <label style="font-size: 2rem; padding: 2px;  ">Kada ste rodjeni: <input type="date" id="date" style="font-size: 1.5rem; padding: 2px" required /></label>
        <label style="font-size: 2rem; padding: 2px;  ">
            Uloga:
            <select style="font-size: 1.5rem; padding: 2px" id="role" required>
                <option value="KUPAC">Kupac</option>
                <option value="PRODAVAC">Prodavac</option>
            </select>
        </label>
        <button type="submit" id="signup_button" style="font-size: 1.5rem; padding: 4px; width:15rem;">SignUp</button>
    </form>
    <a href="~/LogIn"><button style="font-size: 1.5rem; padding: 4px; width: 15rem;">LogIn</button></a>
</div>
<script>
    $("#signup-form").on('submit', function (e) {
        e.preventDefault();

        const username = document.getElementById("username").value;
        const name = document.getElementById("name").value;
        const password = document.getElementById("password").value;
        const lastname = document.getElementById("lastname").value;
        const gender = document.getElementById("gender").value;;
        const email = document.getElementById("email").value;
        const date = document.getElementById("date").value;
        const role = document.getElementById("role").value;
        const Korisnik = {
            Korisnicko_ime: username,
            Lozinka: password,
            Ime: name,
            Prezime: lastname,
            Pol: gender,
            Email: email,
            Rodjendan: date,
            Uloga: role
        };
        try {
            $.ajax({
                type: "POST",
                url: "/api/BazaKorisnika",
                data: JSON.stringify(Korisnik),
                contentType: "application/json"

            })
            window.location.href = "LogIn";
        } catch (error) {
            console.log(error);
        }

    });
</script>


