<div style="height: calc(100vh - 7.4rem); display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 0.5rem; font-size: 2rem;">
    <h1 style="font-size: 2rem; padding: 2px">LogIn</h1>
    <label style="font-size: 2rem; padding: 2px; margin-right:5rem;">Korisnicko ime: <input type="text"  style="font-size: 1.5rem; padding: 2px"/></label>
    <label style="font-size: 2rem; padding: 2px; margin-left:3.5rem">Sifra: <input type="password"  style="font-size: 1.5rem; padding: 2px"/></label>
    <a href="~/SignUp"> <button style="font-size: 1.5rem; padding: 4px; width: 15rem;">SignUp</button></a>
    <button id="login_button" style="font-size: 1.5rem; padding: 4px; width:15rem;">LogIn</button>
</div>
<script>

</script>
