<div class="flex-container">
    <div class="filter">
        <div class="filter-header">
            <label>FILTERI</label>
        </div>
        <div class="filter-container">
            <label>Pretraga: <input type="search" /></label>
            <label>Min: <input type="number" /></label>
            <label>Max: <input type="number" /></label>
            <select id="grad-filter">

            </select>
        </div>
    </div>
    <div class="products">
        <div class="products-header">
                <select>
                    <option value="relevantno">Relevantno</option>
                    <option value="rastuce">Cena rastuce</option>
                    <option value="opadajuce">Cena opadajuce</option>
                </select>
        </div>
        <div class="products-container" id="products-container">

        </div>
    </div>
</div>

