<div class="flex-container">
    <div class="filter">
        <div class="filter-header">
            <label>FILTERI</label>
        </div>
        <form class="filter-container">
            <label>Pretraga: <input type="search" name="pretraga" /></label>
            <label>Min: <input type="number" name="min" min="0" /></label>
            <label>Max: <input type="number" name="max" min="0" /></label>
            <select  style="font-size: 1.5rem;" id="grad-filter" name="grad">
            </select>
            <select style="font-size: 1.5rem;" name="sortiranje">
                <option style="font-size: 1.5rem;" value="relevantno">Relevantno</option>
                <option style="font-size: 1.5rem;" value="cena-rastuce">Cena rastuce</option>
                <option style="font-size: 1.5rem;" value="cena-opadajuce">Cena opadajuce</option>
                <option style="font-size: 1.5rem;" value="datum-rastuce">Datum rastuce</option>
                <option style="font-size: 1.5rem;" value="datum-opadajuce">Datum opadajuce</option>
                <option style="font-size: 1.5rem;" value="naziv-rastuce">Naziv rastuce</option>
                <option style="font-size: 1.5rem;" value="naziv-opadajuce">Naziv opadajuce</option>
            </select>
            <input type="submit" value="Upotrebite filtere" style="font-size: 1.5rem; padding: 10px;" />
        </form>
    </div>
    <div class="products">
        <div class="products-container" id="products-container" style="display:flex; flex-direction:row; flex-wrap: wrap;width: 100%;gap: 10px; padding: 5px;">

        </div>
    </div>
</div>
<script>
    $(window).on("load", function () {
        try {
            $.get('/api/BazaProizvoda', function (data, status) {
            
                if (!data) {
                    return;
                }
                lista = data;
                let lista_gradova = `<option value="nista" style="font-size: 1.5rem;">Nista</option>`;
                let listaGradova = [];
                for (let grad in lista) {
                    if (lista[grad].Kolicina > 0 && !listaGradova.includes(lista[grad].Grad)) {
                        listaGradova.push(lista[grad].Grad);
                    }
                }
                for (let j in listaGradova) {
                        lista_gradova += `<option value=${listaGradova[j]} style="font-size:1.5rem;">${listaGradova[j]}</option>`
                }
                $("#grad-filter").html(lista_gradova);
                let filterUrl = location.search;
                if (filterUrl) {
                    const filterParams = new URLSearchParams(filterUrl);
                    const pretraga = filterParams.get("pretraga");
                    const min = filterParams.get("min");
                    const max = filterParams.get("max");
                    const grad = filterParams.get("grad");
                    const sortiranje = filterParams.get("sortiranje");
                    for (let i = 0; i < lista.length; i++) {
                        let changed = "nochange";
                        if (pretraga && !lista[i]?.Naziv.includes(pretraga)) {
                            changed = "change";
                            lista.splice(i, 1);
                            $(`input[name="pretraga"]`).val(pretraga);
                        }
                        if (min) {
                            $(`input[name="min"]`).val(parseInt(min));
                        }
                        if (min && lista[i]?.Cena < parseInt(min)) {
                            changed = "change";
                            lista.splice(i, 1);
                            
                        }
                        if (max) {
                            $(`input[name="max"]`).val(parseInt(max));
                        }
                        if (max && lista[i]?.Cena > parseInt(max)) {
                            changed = "change";
                            lista.splice(i, 1);
                           
                        }
                        if (grad != "nista") {
                            $(`#grad-filter`).val(grad);
                        }
                        if (grad != "nista" && lista[i]?.Grad != grad) {
                            changed = "change";
                            lista.splice(i, 1);
                           
                        }
                        if (changed != "nochange") {
                            i--;
                        }
                    }
                    if (sortiranje != "relevantno") {
                        switch (sortiranje) {
                            case "cena-rastuce":
                                lista.sort((a, b) => (a.Cena > b.Cena) ? 1 : -1);
                                $(`select[name="sortiranje"]`).val(sortiranje);
                                break;
                            case "cena-opadajuce":
                                lista.sort((a, b) => a.Cena < b.Cena ? 1 : -1);
                                $(`select[name="sortiranje"]`).val(sortiranje);
                                break;
                            case "datum-rastuce":
                                lista.sort((a, b) => new Date(a.Objavljen) > new Date(b.Objavljen) ? 1 : -1);
                                $(`select[name="sortiranje"]`).val(sortiranje);
                                break;
                            case "datum-opadajuce":
                                lista.sort((a, b) => new Date(a.Objavljen) < new Date(b.Objavljen) ? 1 : -1);
                                $(`select[name="sortiranje"]`).val(sortiranje);
                                break;
                            case "naziv-rastuce":
                                lista.sort((a, b) => a.Naziv > b.Naziv ? 1 : -1);
                                $(`select[name="sortiranje"]`).val(sortiranje);
                                break;
                            case "naziv-opadajuce":
                                lista.sort((a, b) => a.Naziv < b.Naziv ? 1 : -1);
                                $(`select[name="sortiranje"]`).val(sortiranje);
                                break;
                        }
                    }
                }
                let listacardova = "";
                let loggedin = sessionStorage.getItem("logedIn");
                let logedInUser = JSON.parse(sessionStorage.getItem("userData"));
                for (let proizvod = 0; proizvod < lista.length; proizvod++) {
                    card = `<div style="display: flex;flex-direction: column; justify-content: center; align-items: center; gap: 10px; width:250px; border: 1px solid black; padding: 15px;${lista[proizvod].Kolicina == 0 ? "display: none;" : ""}">`;
                    card += `<a href="/Home/Proizvod/${lista[proizvod].Naziv}"  style="display: flex;flex-direction: column; justify-content: center; align-items: center; gap: 6px; text-decoration: none; color: black;">`;
                    card += `<img src=${lista[proizvod].Slika} style="width:200px; height: 200px;object-fit: contain;"></img>`;
                    card += `<p style="font-size: 1.5rem;">Naziv: ${lista[proizvod].Naziv}</p>`;
                    card += `<p style="font-size: 1.5rem;">Cena: ${lista[proizvod].Cena}</p>`;
                    card += `<p style="font-size: 1.5rem;">Kolicina: ${lista[proizvod].Kolicina}</p>`;
                    card += `<p style="font-size: 1.5rem;">Datum objavljivanja: ${lista[proizvod].Objavljen.slice(0,10)}</p>`;
                    card += `<p style="font-size: 1.5rem;">Grad: ${lista[proizvod].Grad}</p>`;
                   
                    if (lista[proizvod].Kolicina <= 0) {
                        card += `<p style="color: red; font-size: 1.5rem;">Nedostupan</p>`
                    } else {
                        card += `<p style="color: green; font-size: 1.5rem;">Dostupan</p>`
                        
                    }
                    card += `</a>`;
                    if (loggedin == 0) {
                        let omiljeni = false;
                        for (tmp in logedInUser.ListaOmiljenihProizvoda) {
                            if (logedInUser.ListaOmiljenihProizvoda[tmp].Naziv == lista[proizvod].Naziv) {
                                omiljeni = true;
                            }
                        }
                        if (omiljeni) {
                            card += `<p style="font-size: 1.5rem;">Omiljeni proizvod: <input type="checkbox" id="${lista[proizvod].Naziv}-checked" checked></input></p>`
                        } else {
                            card += `<p style="font-size: 1.5rem;">Omiljeni proizvod: <input type="checkbox" id="${lista[proizvod].Naziv}-checked"></input></p>`
                        }
                        card += `<button name="kupi-dugme" id="${lista[proizvod].Naziv}-kupi" style="font-size: 1.5rem; padding: 3px;" >Kupi</button>`;
                    }
                    card += "</div>";
                    listacardova += card;
                   
                    
                }
                $("#products-container").html(listacardova);

                $(`input[type="checkbox"]`).click(function (e) {
                    let value = $(`#${e.target.id}:checked`).length;
                    let proizvod_clicked = e.target.id.slice(0, -8);
                    if (value == 1) {
                        $.get(`/api/BazaProizvoda?naziv=${proizvod_clicked}`, function (data, status) {
                            let logedinuser = JSON.parse(sessionStorage.getItem("userData"));
                            logedinuser.ListaOmiljenihProizvoda.push(data);
                            $.ajax({
                                type: "PUT",
                                url: "/api/BazaKorisnika",
                                data: JSON.stringify(logedinuser),
                                contentType: "application/json"

                            })
                            sessionStorage.setItem("userData", JSON.stringify(logedinuser));
                        })
                    } else {
                        let logedinuser = JSON.parse(sessionStorage.getItem("userData"));
                        for (let i = 0; i < logedinuser.ListaOmiljenihProizvoda.length; i++) {
                            if (logedinuser.ListaOmiljenihProizvoda[i].Naziv == proizvod_clicked) {
                                logedinuser.ListaOmiljenihProizvoda.splice(i, 1);
                                break;
                            }
                        }
                        $.ajax({
                            type: "PUT",
                            url: "/api/BazaKorisnika",
                            data: JSON.stringify(logedinuser),
                            contentType: "application/json"

                        })
                        sessionStorage.setItem("userData", JSON.stringify(logedinuser));
                        
                    }
                    
                })
                $(`button[name="kupi-dugme"]`).click( function (e) {
                    let proizvod_clicked = e.target.id.slice(0, -5);
                    $.get(`/api/BazaProizvoda?naziv=${proizvod_clicked}`, async function (data, status) {
                        let logedinuser = JSON.parse(sessionStorage.getItem("userData"))
                        data.Kolicina = data.Kolicina - 1;
                        let porudzbina = {
                            Proizvod: data,
                            Kolicina: 1,
                            Kupac: logedinuser.Korisnicko_ime,
                            DatumPorudzbine: `${new Date().getFullYear()}-${new Date().getMonth()}-${new Date().getDate()}`,
                            StatusPorudzbine: 0
                        };
                        logedinuser.ListaPorudzbina.push(porudzbina);
                        $.ajax({
                            type: "PUT",
                            url: "/api/BazaKorisnika",
                            data: JSON.stringify(logedinuser),
                            contentType: "application/json"

                        })
                        sessionStorage.setItem("userData", JSON.stringify(logedinuser));
                        $.ajax({
                            type: "PUT",
                            url: "/api/BazaProizvoda",
                            data: JSON.stringify(data),
                            contentType: "application/json"

                        })
                        location.href = "/Kupac";
                    })

                })

            })
        } catch (error) {
            console.log(error);
        }
    })
   
       
</script>

