<form id="izmena-form" style="display:flex; flex-direction:column; padding:10px; width:100%; justify-content:center; align-items:center; gap: 10px;">
    <label style="font-size:1.5rem;">Naziv: <input type="text" id="naziv-input" name="Naziv" style="font-size:1.5rem;padding: 5px;" readonly /> </label>
    <label style="font-size:1.5rem;">Cena: <input type="number" min="0" id="cena-input" name="Cena" style="font-size:1.5rem;padding: 5px;" required /></label>
    <label style="font-size:1.5rem;">Kolicina: <input type="number" id="kolicina-input" name="Kolicina" min="0" style="font-size:1.5rem;padding: 5px;" required /></label>
    <label style="font-size:1.5rem;">Grad: <input type="text" id="grad-input" name="Grad" style="font-size:1.5rem;padding: 5px;" required /></label>
    <label style="font-size:1.5rem;">Opis: <textarea rows="5" cols="30" id="opis-input" name="Opis" style="font-size:1.5rem;padding: 5px; resize: none;" required></textarea></label>
    <label style="font-size:1.5rem;">Slika: <input type="file" id="file-input" accept="image/png,image/jpeg" style="font-size:1.5rem;padding: 5px;" name="Slika"> <img id="img-preview" style="object-fit: scale-down; width:100px; height:100px" /></label>
    <input type="submit" id="dodaj-button" style="font-size:1.5rem; width:25%;" value="Izmeni" />
</form>
<script>
    let image_url = "";

    $(window).on("load", function () {
        let podaci = JSON.parse(sessionStorage.getItem("userData"));
        
        if (!podaci || podaci.Uloga != 1) {
            document.location.href = "/Home";
        }
        const nazivproizvoda = location.pathname.split("/")[3];
        if (!nazivproizvoda) {
            location.href = "/";
        }
        $.get(`/api/BazaProizvoda?naziv=${nazivproizvoda}`, function (data, status) {
            if (!data) {
                location.href = "/";
            }
            $("#naziv-input").val(data.Naziv);
            $("#cena-input").val(data.Cena);
            $("#kolicina-input").val(data.Kolicina);
            $("#grad-input").val(data.Grad);
            $("#opis-input").val(data.Opis);
            $('#img-preview').attr('src', data.Slika);
            image_url = data.Slika;
            $("#izmena-form").on("submit", async function (e) {
                e.preventDefault();
                const naziv = $("#naziv-input").val();
                const cena = $("#cena-input").val();
                const kolicina = $("#kolicina-input").val();
                const grad = $("#grad-input").val();
                const opis = $("#opis-input").val();
                const Proizvod = {
                    Naziv: naziv,
                    Cena: cena,
                    Kolicina: kolicina,
                    Grad: grad,
                    Opis: opis,
                    Slika: image_url,
                    ListaRecenzija: data.ListaRecenzija,
                    Objavljen: data.Objavljen,
                    StatusProizvoda: kolicina <= 0 ? 1 : 0
                }
                await $.ajax({
                    type: "PUT",
                    url: "/api/BazaProizvoda",
                    data: JSON.stringify(Proizvod),
                    contentType: "application/json"

                })
                let logedInUser = JSON.parse(sessionStorage.getItem("userData"));
                for (let i = 0; i < logedInUser.ListaObjavljenihProizvoda.length; i++) {
                    if (logedInUser.ListaObjavljenihProizvoda[i].Naziv == Proizvod.Naziv) {
                        logedInUser.ListaObjavljenihProizvoda[i].Naziv = Proizvod.Naziv;
                        logedInUser.ListaObjavljenihProizvoda[i].Cena = Proizvod.Cena;
                        logedInUser.ListaObjavljenihProizvoda[i].Kolicina = Proizvod.Kolicina;
                        logedInUser.ListaObjavljenihProizvoda[i].Slika = Proizvod.Slika;
                        logedInUser.ListaObjavljenihProizvoda[i].Grad = Proizvod.Grad;
                        logedInUser.ListaObjavljenihProizvoda[i].Opis = Proizvod.Opis;
                        logedInUser.ListaObjavljenihProizvoda[i].StatusProizvoda = Proizvod.Kolicina <= 0 ? 1 : 0;
                        break;
                    }
                }
                await $.ajax({
                    type: "PUT",
                    url: "/api/BazaKorisnika",
                    data: JSON.stringify(logedInUser),
                    contentType: "application/json"
                })

                sessionStorage.setItem("userData", JSON.stringify(logedInUser));
                window.location.href = "/Prodavac";
            });

        })

    })
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img-preview').attr('src', e.target.result);
                image_url = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#file-input").change(function () {
        readURL(this);
    });
</script>
